body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navbar-bg-color);
    padding: 12px 20px;
    color: var(--navbar-text-color);
    box-shadow: var(--box-shadow);
}

/* Footer */
.footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    padding: 15px 20px;
    text-align: center;
    font-size: 0.9rem;
}

/* Boutons */
.button-group {
    display: flex;
    gap: 1rem;
    margin-bottom: 5px;
}

.text-bold {
    font-weight: bold;
}

.button {
    padding: 0.6rem 1.5rem;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    color: white;
    background: linear-gradient(to bottom, var(--button-bg-gradient-start), var(--button-bg-gradient-end));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}

.button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

.button-main {
    background: linear-gradient(to bottom, var(--button-main-gradient-start), var(--button-main-gradient-end));
    color: white;
}

.button-white {
    background: var(--button-white-bg);
    color: var(--button-white-color);
}
