.page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding: 20px;
    font-family: Arial, sans-serif;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--text-color);
}

.profile_info, .recent_debat, .statistique {
    background-color: var(--card-bg-color);
    border-radius: 16px;
    padding: 20px;
    box-shadow: var(--box-shadow);
    color: var(--text-color);
}

h2 {
    text-align: center;
    margin-bottom: 16px;
    color: var(--text-color);
}

.profile_info p, .profile_info .editable {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    color: var(--text-color);
}

.bouton {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 16px;
}

.button {
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.button-modifier {
    background: linear-gradient(to right, var(--button-main-gradient-start), var(--button-main-gradient-end));
}

.button-supprimer {
    background-color: #F44336;
}

.button-enregistrer {
    background-color: #4CAF50;
}

.button:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.3);
}

.hidden {
    display: none;
}

.statistique p {
    background-color: var(--input-bg-color);
    color: var(--text-color);
}


.div_stat {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
}

.highlight {
    background-color: #FFEE58;
    font-weight: bold;
}

.recent_debat .debat {
    background-color: var(--card-bg-color);
    border-radius: 8px;
    padding: 8px 12px;
    margin: 8px 0;
    color: var(--text-color);
}

.scrollable-debates {
    max-height: 400px;
    overflow-y: auto;
    padding-right: 8px;
}

.scroll-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.admin {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 8%;
    gap: 4%;
}
