<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Text</th>
            <th>ValidationDate</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
    {% for argument in arguments %}
        <tr>
            {{ include('argument/show.html.twig', {name: 'argument'}) }}
        </tr>
    {% else %}
        <tr>
            <td colspan="4">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>